.board{
  display: inline-block;
  position: relative;
  width: 50%; 
  margin-right: 10px;
  height: 80px;
  border: 1px solid rgb(17, 190, 212);
  border-radius: 10px;
}
.board:hover{
  background-color:rgb(17, 190, 212);
}
#board:hover .boardTitle {
  color: rgb(60, 105, 110)
}
#board:hover .boardRepliesCount {
  color: rgb(60, 105, 110)
}
.boardTitle{
  top:15px;
  position: absolute;
  width: 20%;
  font-weight: bold;
}
.boardRepliesCount{
  position: relative;
  top:40px;
  width: 20%;
}
#boardList > .Board {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: red;
}
.Loading{
  width: 10%;
  transform: translateX(-50%);
  margin-left: 50%;
  color: rgb(60, 105, 110);
  font-weight: bold
}