# Editors
/.vscode
/.idea

# dependencies
/node_modules

# build
/dist

# misc
.DS_Store
.env

yarn.lock
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.v8flags*
.babel.json
.config/
.npm/
